* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.wrapper {
  width: 60%;
  margin: 0 auto;
}
.landing {
  background: linear-gradient(to right, rgba(9, 5, 47, 0.7), rgba(49, 29, 94, 0.7)), url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.landing .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.landing .navbar .logo {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 30px;
}
.landing .navbar .logo span {
  color: #0eadae;
}
.landing .navbar .logo img {
  margin-right: 11px;
}
.landing .navbar ul {
  display: flex;
}
.landing .navbar ul li {
  margin-left: 12px;
}
.landing .navbar ul li a {
  padding: 5px;
  font-weight: 900;
  font-size: 13px;
  color: #FFF;
}
.landing .navbar ul li a:hover {
  color: #00e0d0;
  transition: 0.3s;
}
.landing .slider-content {
  text-align: center;
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}
.landing .slider-content h1 {
  margin-top: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 32px;
  position: relative;
  display: inline-block;
}
.landing .slider-content h1::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
  position: absolute;
  top: 100%;
  right: calc(50% - 25px);
  margin-top: 24px;
}
.landing .slider-content p {
  width: 85%;
  margin: 0 auto;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 30px;
}
.landing .slider-content button {
  width: 120px;
  height: 40px;
  color: #00e0d0;
  background: transparent;
  border-radius: 1px;
  border: 1px solid #00e0d0;
  margin-top: 50px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  outline: none;
}
.landing .slider-content button:hover {
  cursor: pointer;
  background: #000;
  color: #FFF;
  border: 1px solid #FFF;
  transition: 0.4s;
}
#story {
  margin-top: 71px;
  margin-bottom: 70px;
}
#story .wrapper {
  display: flex;
  justify-content: space-between;
}
#story img {
  width: 235px;
  height: 229px;
  margin-left: 65px;
}
#story .info {
  width: 58%;
}
#story .info h2 {
  font-family: 'Playfair Display', serif;
  color: #413d4b;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
#story .info p {
  opacity: 0.75;
  color: #413d4b;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 28px;
  letter-spacing: 0.42px;
}
#story .info button {
  width: 120px;
  height: 40px;
  color: #00e0d0;
  background: transparent;
  border-radius: 1px;
  border: 1px solid #00e0d0;
  margin-top: 31px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
#story .info button:hover {
  cursor: pointer;
}
.story-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.7), rgba(49, 29, 94, 0.7)), url(../images/bg2.jpg);
}
.story-video .play-icon {
  width: 100px;
  height: 100px;
  background: transparent;
  border: 2px solid #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.story-video .play-icon img {
  margin-left: 5px;
}
.story-video .play-icon:hover {
  cursor: pointer;
  transition: 0.3s;
}
.story-video span {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  display: inline-block;
  text-align: center;
  margin-top: 34px;
}
#expertise {
  text-align: center;
}
#expertise h2 {
  color: #413d4b;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin-top: 72px;
}
#expertise .header-p {
  opacity: 0.75;
  color: #2f2d35;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px;
  position: relative;
  margin-top: 16px;
}
#expertise .header-p::after {
  display: inline-block;
  content: "";
  width: 50px;
  height: 2px;
  background: #413d4b;
  position: absolute;
  top: 100%;
  right: calc(50% - 25px);
  margin-top: 18px;
}
#expertise .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 65px;
  grid-row-gap: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;
}
#expertise .grid::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background: #ebebeb;
  left: 290px;
}
#expertise .grid::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background: #ebebeb;
  right: 290px;
}
#expertise .grid .border {
  position: absolute;
  width: 110%;
  height: 1px;
  background: #ebebeb;
  top: 53%;
  left: -5%;
}
#expertise .grid .card {
  padding-bottom: 35px;
  padding-top: 35px;
  min-width: 260px;
}
#expertise .grid .card img {
  display: inline-block;
  margin: 0 auto;
  height: 50px;
  margin-top: 38px;
  width: auto;
}
#expertise .grid .card h3 {
  margin-top: 35px;
  color: #413d4b;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
#expertise .grid .card p {
  margin: 0 auto;
  margin-top: 25px;
  opacity: 0.75;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.7px;
}
#team {
  background: linear-gradient(to right, rgba(9, 5, 47, 0.8), rgba(49, 29, 94, 0.8)), url(../images/bg3.jpg);
  background-size: cover;
  text-align: center;
}
#team h2 {
  color: #FFF;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  padding-top: 72px;
}
#team .header-p {
  opacity: 0.75;
  color: #f9f9f9;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px;
  position: relative;
  margin-top: 16px;
}
#team .header-p::after {
  display: inline-block;
  content: "";
  width: 50px;
  height: 2px;
  background: #655b80;
  position: absolute;
  top: 100%;
  right: calc(50% - 25px);
  margin-top: 18px;
}
#team .card-container {
  margin-top: 47px;
  display: flex;
  justify-content: space-between;
}
#team .card-container div {
  width: 210px;
  border: 1px solid #FFF;
}
#team .card-container div img {
  width: 100%;
  height: 208px;
}
#team .card-container div h3 {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-top: 20px;
  margin-bottom: 0;
}
#team .card-container div span {
  display: inline-block;
  opacity: 0.7;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 23px;
}
#team .join-us {
  margin-top: 70px;
  color: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
}
#team button {
  width: 140px;
  height: 40px;
  background: transparent;
  border-radius: 1px;
  border: 1px solid #00e0d0;
  margin-top: 26px;
  margin-bottom: 69px;
  color: #00e0d0;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
#team button:hover {
  cursor: pointer;
}
#works {
  text-align: center;
}
#works .wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
#worksh3 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}
#works a {
  color: #413d4b;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
#works a::after {
  content: url(../images/arrow.svg);
  position: absolute;
  top: calc(50% - 9px);
  margin-left: 10px;
}
#works .works-grid {
  margin-top: 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#works .works-grid .work-piece {
  min-width: 250px;
  min-height: 190px;
  background: #CCC;
  border: 1px solid black;
}
#works button {
  margin-top: 70px;
  width: 120px;
  height: 40px;
  background: transparent;
  border-radius: 1px;
  border: 1px solid #00e0d0;
  margin-bottom: 70px;
  color: #00e0d0;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
#works button:hover {
  cursor: pointer;
}
.feedback-slider {
  text-align: center;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.8), rgba(49, 29, 94, 0.8)), url(../images/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.feedback-slider p {
  padding-top: 136px;
  opacity: 0.85;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.4px;
  position: relative;
}
.feedback-slider p::before {
  content: open-quote;
  display: block;
  position: absolute;
  font-size: 100px;
  font-weight: 400px;
  opacity: 0.9;
  color: #FFF;
  bottom: calc(100% - 100px);
  left: 50%;
  transform: translateX(-50%);
}
.feedback-slider h3 {
  margin-top: 52px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.feedback-slider span {
  margin-top: 13px;
  opacity: 0.7;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
}
.feedback-slider .slider-controls {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  position: relative;
}
.feedback-slider .slider-controls div {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #FFF;
  margin: 7px;
  margin-bottom: 74px;
}
#contact {
  margin-top: 70px;
  margin-bottom: 70px;
}
#contact .wrapper {
  display: flex;
  justify-content: space-between;
}
#contact .wrapper h2 {
  color: #413d4b;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
#contact .news {
  width: 45%;
}
#contact .clients {
  width: 45%;
}
#contact .clients .brands-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 45px;
  grid-row-gap: 30px;
  margin-top: 40px;
}
#contact .clients .brands-grid .brand-container {
  width: 165px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-footer {
  background: linear-gradient(to right, rgba(9, 5, 47, 0.8), rgba(49, 29, 94, 0.8)), url(../images/bg5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-footer .footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}
.main-footer .footer__container h3 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0.75px;
}
.main-footer .footer__container .tajam {
  width: 40%;
}
.main-footer .footer__container .tajam .logo {
  margin-top: -15px;
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 30px;
}
.main-footer .footer__container .tajam .logo span {
  color: #0eadae;
}
.main-footer .footer__container .tajam .logo img {
  margin-right: 11px;
}
.main-footer .footer__container .tajam p {
  margin-top: 33px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
}
.main-footer .footer__container .studio {
  width: 32%;
}
.main-footer .footer__container .studio address {
  margin-top: 42px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
  margin-left: 10px;
  font-style: normal;
}
.main-footer .footer__container .studio address::before {
  content: url(../images/map.png);
  margin-left: -30px;
  padding-right: 16px;
  display: inline-block;
  height: 100%;
  margin-bottom: -5px;
}
.main-footer .footer__container .studio a {
  color: #FFF;
  margin-top: 25px;
  display: inline-block;
}
.main-footer .footer__container .studio a::before {
  content: url(../images/phone.png);
  margin-left: -25px;
  padding-right: 20px;
}
.main-footer .footer__container .studio a:hover {
  color: #00e0d0;
  transition: 0.3s;
}
.main-footer .footer__legal {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}
.main-footer .footer__legal nav ul {
  display: flex;
}
.main-footer .footer__legal nav ul li {
  margin-right: 25px;
}
.main-footer .footer__legal nav ul li a {
  padding: 5px;
  display: inline-block;
  color: #FFF;
}
.main-footer .footer__legal nav ul li a:hover {
  color: #00e0d0;
  transition: 0.3s;
}
.main-footer .footer__legal span {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #FFF;
}
